.table__general{
    border-spacing: 0;
    background-color: #58E1F6;
    margin: 20px;
    width: 50%;
}

.table__sortable {
    border-spacing: 0;
    background-color: #58E1F6;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.table__header {
    background-color: #FECF9B;
    text-align: center;
}

.table__row:nth-child(even) {
    background-color: #e5e5e5;
}

.table__cell {
    padding: 8px;
}

.title__input {
    margin:20px;
    font-weight: bold;
}

.textarea__input {
    margin:20px;
    font-weight: bold;
}

.submit__button{
    margin:0px;
    background-color:#97f7cc;
    color: #0db46a;
    font-size: 18px;
}

.reset__button{
    margin: 20px;
}

.add_image__button{
    margin: 30px;
}

.header{
    margin: 20px;
}

.label{
    margin-left:20px;
    font-weight: bold
}
.yes__button{
    margin:20px;
    color: #0db46a;
    font-size: 18px;
}

.no__button{
    margin:0px;
}

.voteup__button{
    text-align: center;
    color: #0db46a;
    width: 55px;
    height: 55px;
    font-weight: bold;
    margin: 5px 5px 10px 5px;
}

.votedown__button{
    text-align: center;
    width: 55px;
    height: 55px;
    font-weight: bold;
    margin: 10px 5px 5px 5px;
}

.asc__button{
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    color: #0db46a;
    width: 30px;
    height: 30px;
    font-size: small;
    display: inline;
}

.desc__button{
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: small;
    display: inline;
}

.arrows_up_down{
    width: 25px;
    height: 25px;
}
