body {
    padding-left: 20px;
}

.table__general{
    border-spacing: 0;
    background-color: #58E1F6;
    margin: 20px;
    width: 80%;
    align: center;
}

.table__position{
    width: 70%;
    margin: auto;
}

.table__sortable {
    border: 1px solid black;
    border-spacing: 0;
    background-color: #58E1F6;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.table__header {
    background-color: #FECF9B;
    text-align: center;
}

.table__row:nth-child(even) {
    background-color: #e5e5e5;
}

.table__cell {
    padding: 8px;
    border: 1px solid black;
}

.title__input {
    margin-bottom:20px;
    font-weight: bold;
}

.textarea__input {
    margin-bottom:10px;
    font-weight: bold;
}

.add_image__button{
    margin: 30px;
}

.header{
    margin: 0px;
}

.label{
    margin-left:0px;
    font-weight: bold
}
.yes__button{
    margin:0px;
    color: #0db46a;
    font-size: 18px;
}

.no__button{
    margin:0px;
}

.voteup__button{
    text-align: center;
    color: #0db46a;
    width: 55px;
    height: 55px;
    font-weight: bold;
    margin: 5px 5px 10px 5px;
}

.votedown__button{
    text-align: center;
    width: 55px;
    height: 55px;
    font-weight: bold;
    margin: 10px 5px 5px 5px;
}

.asc__button{
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    color: #0db46a;
    width: 30px;
    height: 30px;
    font-size: small;
    display: inline;
}

.desc__button{
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: small;
    display: inline;
}

.arrows_up_down{
    width: 25px;
    height: 25px;
}
.search__button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.search__box{
    box-sizing: border-box;
    padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
