{% extends "base.html" %}
{% block title %} Add question {% endblock %}

{% block content %}

<div class="grid-container">
    <h3 class="header text-white ml-5">Please input your question</h3>
    <div class="grid-child d-flex justify-content-left">

        <form action="#" method="POST" enctype="multipart/form-data"><br>
        {#            <label for="title">Title: </label>#}
            <input type="text" name="title" id="title" placeholder="Title" required>
            <div>
        {#              <label class="label text-white" for="message">Your question:</label>#}
                <br>
                <textarea type="text" name="message" id="message" placeholder="Type your question here..." cols="80" rows="10" required></textarea>
            </div>

                <label class="label text-white" for="file text-white">Choose image to upload</label>
                <input class = "add_image__button text-white" type="file" accept=".jpg, .jpeg, .png" name="file">
            <div>
                <button type="reset" class="btn btn-secondary">Reset</button>
                <button autofocus onclick="alert('Your question has been submitted! Thank you!')" type="submit"
                        class ="btn btn-success">
                    Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}