<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display a question</title>
</head>
<p>
    {% if question == "0" %}
        <h1>There is no question with such ID.</h1>
    {% else %}
        <h1> This is a question with id: {{ question["id"] }}</h1>
        <h4>Title of the question:</h4>
        <h2>{{ question["title"] }}</h2>
        <h4>The question message: </h4>
        <h3>{{ question["message"] }}</h3>
            {% if answers|length > 0 %}
                <h3>Answer list: </h3>
                <table border="1px">
                    <tr>
                        <th>Vote numbers</th>
                        <th>Answer</th>
                    </tr>
                    {% for answer in answers %}
                        <tr>
                            <td>{{answer[0]}}</td>
                            <td>{{answer[1]}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h2>There is no answer yet! </h2>
            {% endif %}
        {% endif %}
<a href="/question/{{ question["id"] }}/new-answer"><h2>Post a new answer!</h2></a>
<a href="/list"><h2>Go to questions list page!</h2></a>



</body>
</html>