{% extends "base.html" %}
{% block title %}Display a question {% endblock %}

{% block content %}

    <div class="container">
        <div class="row align-items-center">
            {% if question["image"] %}
                <div class="col-3">
                    <img src="/static/img/{{ question["image"] }}" alt="Question Image" width="250"/>
                </div>
            {% endif %}

            <div class="col">
                <h1 class="font-weight-bold m-3 text-white text-center">{{ question["title"] }}</h1>
            </div>
        </div>
    </div>

    <hr color="white">

    <h2 class="text-center font-weight-bold text-white">{{ question["message"] }}</h2>

    <hr color="white">

    <div class="d-flex bd-highlight">
        <div class="btn-group-sn" role="group" aria-label="Action buttons" style="width: 40%; margin-left: 10%">
            <button type="button" class="btn-lg btn-dark rounded-0" style="width: 100%">
                <a href="/question/{{ question['id'] }}/new-comment">Add a comment!</a>
            </button>
            <button type="button" class="btn-lg btn-dark rounded-0" style="width: 100%">
                <a href="/question/{{ question['id'] }}/new-answer">Post a new answer!</a>
            </button>
            <button type="button" class="btn-lg btn-dark rounded-0" style="width: 100%">
                <a href="/question/{{ question['id'] }}/edit">Edit this question!</a>
            </button>
            <button type="button" class="btn-lg btn-dark rounded-0" style="width: 100%">
                <a href="/question/{{ question['id'] }}/new-tag">Add tag to this question!</a>
            </button>
            <button type="button" class="btn-lg btn-dark rounded-0" style="width: 100%">
                <a href="/list">Go to questions list page!</a>
            </button>
            <button type="button" class="btn-lg btn-dark rounded-0" style="width: 100%">
                <a href="/question/{{ question['id'] }}/delete">Delete this question</a>
            </button>
            <button type="button" class="btn-lg btn-dark rounded-0" style="width: 100%">
                <a href="/tags">Show all tags</a>
            </button>
        </div>

        {#            Question Comments#}
        <div style="width:100%; margin-right: 10%">
            <table class="table table-dark table-striped table-hover table-sm table-bordered border-light">
                <tr class="text-center align-middle">
                    <th colspan="100%" class="lead text-center">Question comments</th>
                </tr>
                <tr class="text-center">
                    <th class="align-middle">Comment</th>
                    <th class="align-middle">Submission Time</th>
                    <th class="align-middle">Editions</th>
                    <th class="align-middle">Edit this comment</th>
                    <th class="align-middle">Delete this comment</th>
                </tr>
                {% for comment in question_comments %}
                    <tr class="text-center">
                        <td class="align-middle">{{ comment['message'] }}</td>
                        <td class="align-middle">{{ comment['submission_time'] }}</td>
                        <td class="align-middle">Edited: {{ comment['edited_count'] }} times</td>
                        <td class="align-middle"><a href = "/comment/{{ comment['id'] }}/edit">EDIT</a>
                        <td class="align-middle"><a href = "/comments/{{ comment['id'] }}/delete">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1
                                 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0
                                 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0
                                  1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5
                                   3V2h11v1h-11z"/></svg></a></td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

    <hr color="white">

    {#            ANSWERS Table#}
    {% if answers|length > 0 %}
        <div class="mx-auto" style="width: 80%">

            <table class="table table-dark table-striped table-hover table-sm table-bordered border-light">
                <th colspan="100%" class="lead text-center">Answers list</th>
                <tr class="text-center">
                    {% for element in correct_order %}
                        {% if element != "question_id" and element != "id" %}
                            <th class="align-middle">
                                {{ element }}

                                <form action="/question/{{ question['id'] }}?order_by={{ element }}&order_direction=asc" method="POST">
                                    <button class="asc__button" type="submit" name="asc"><img class="arrows_up_down" alt="Arrow up image" src="/static/graphics/up_arrow.jpg"></button>
                                </form>

                                <form action="/question/{{ question['id'] }}?order_by={{ element }}&order_direction=desc" method="POST">
                                    <button class="desc__button" type="submit" name="desc"><img class="arrows_up_down" alt="Arrow down image" src="/static/graphics/down_arrow.jpg"></button>
                                </form>
                            </th>

                        {% endif %}

                    {% endfor %}
                    <th class="align-middle">Mark as accepted</th>
                    <th class="align-middle">Edit this answer</th>
                    <th class="align-middle">Comment this answer</th>
                    <th class="align-middle" colspan="2">Delete an answer</th>
                </tr>

                {% for answer in answers %}
                    {% if answer['is_accepted'] == True %}
                        <tr class="accepted__answer">
                            {% else %}
                        <tr>
                    {% endif %}
                {% for key in answer %}
                    {% if key == "image" and answer[key] == None %}
                        <td class="align-middle text-center"></td>
                    {% elif key == "image" and answer[key] %}
                        <td class="align-middle text-center"><img src="/static/img/{{ answer[key] }}"
                            alt="Answer Image" width="300"/></td>
                    {% elif key != "question_id" and key != "is_accepted" and key != "id" %}
                        <td class="align-middle text-center">{{ answer[key] }}</td>
                    {% endif %}
                {% endfor %}
                <td class="text-center align-middle"><a href="/accept-answer/{{ answer['id'] }}/{{ question['id'] }}">
                    Mark as accepted</a></td>
                <td class="text-center align-middle"><a href="/answer/{{ answer['id'] }}/edit">EDIT</a></td>
                <td class="text-center align-middle"><a href="/answer/{{ answer['id'] }}/new-comment">COMMENT</a></td>
                <td class="text-center align-middle"><a href="/answer/{{ answer['id'] }}/delete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1
                    0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/><path fill-rule="evenodd"
                                                                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1
                    0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1
                    1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/></svg></a></td>
                <td class="align-middle text-center">
                    <form action="/answer/{{ answer['id'] }}/vote_up" method="POST">
                        <button class="btn btn-success" onclick="alert('Thank you! You have up-voted the answer!')" type="submit" name="vote_up">Vote up</button></form>
                    <form action="/answer/{{ answer['id'] }}/vote_down" method="POST">
                        <button class="btn btn-danger" onclick="alert('Thank you! You have down-voted the answer!')" type="submit" name="vote_down">Vote down</button></form></td>
                </tr>

                    {#                 Display Comments for answers #}
                    <tr>
                        <td colspan="100%">
                            Comments
                            {% for comment in answers_comments %}
                                {% if comment['answer_id'] == answer['id'] %}
                                    <ul>
                                        <li>{{ comment['message'] }} || {{ comment['submission_time'] }} ||
                                            <a href = "/comment/{{ comment['id'] }}/edit">EDIT</a> ||
                                            <a href = "/comments/{{ comment['id'] }}/delete">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1
                                    0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/><path fill-rule="evenodd"
                                                                                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1
                                    0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1
                                     1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/></svg></a>
                                        </li>
                                        {#                                       Longest line broken into 5 lines = trash bin icon :)#}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    {% else %}
        <h2 class="header text-white">There is no answer yet! </h2>
    {% endif %}
    <hr color="white">
    {% if added_tags %}
        <h5 class="header text-white m-3"> Tags: </h5>
        <p class="text-white ml-5">
            {% for tag in added_tags %}
                <button type="button" class="d-inline-flex btn-sm btn-dark" disabled>{{ tag['name'] }}
                    <a href = "/question/{{ question['id'] }}/tag/{{ tag['id'] }}/delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1
                0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/><path fill-rule="evenodd"
                                                                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1
                0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1
                1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/></svg></a></button>
            {% endfor %}</p>
        <hr>
    {% endif %}

    </div>
{% endblock %}