{% extends "base.html" %}
{% block title %} Display a question {% endblock %}

{% block content %}
    <p>
        {% if question|length == 0 %}
            <h1 class="header">There is no question with such ID.</h1>
        {% else %}
            <h1 class="header">Question ID: {{ question["id"] }}</h1>
            <hr>
            <h4 class="header">Title:</h4>
            <h2 class="header">{{ question["title"] }}</h2>
            <hr>
            <h4 class="header">Message:</h4>
            <h3 class="header"><pre>{{ question["message"] }}</pre></h3>
            <hr>
            {% if question["image"] %}
            <hr>
            <h4 class="header">Image for the question: </h4>
            <img src="/static/img/{{ question["image"] }}" alt="Question Image" align="center" max-width="100%" width="300"/>
            <hr>
            {% endif %}
            <h4 class="header">Question comments: </h4>
            <table border="1px" class="table__sortable">
                <tr class="table__header">
                    <th class="table__cell">Comment</th>
                    <th class="table__cell">Submission Time</th>
                </tr>
                {% for comment in question_comments %}
                    <tr>
                        <td class="table__cell">{{ comment['message'] }}</td>
                        <td class="table__cell">{{ comment['submission_time'] }}</td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
            {% if added_tags %}
                <h4 class="header">Tags:</h4>
            <h3 class="header">{{ added_tags }}</h3>
            <hr>

            {% endif %}
{#            ANSWERS LIST#}
            {% if answers|length > 0 %}
                <h3 class="header">Answer list:</h3>

                <table border="1px" class="table__sortable">
                    <tr class="table__header">
                        {% for element in headers %}
                            {%  if element == "image" %}
                                <th class="table__cell">
                                    {{ element }}
                                    <form action="/question/{{ question['id'] }}?order_by={{ element }}&order_direction=asc" method="POST">
                                        <button class="asc__button" type="submit" name="asc"><img class="arrows_up_down" src="/static/graphics/up_arrow.jpg"></button>
                                    </form>

                                    <form action="/question/{{ question['id'] }}?order_by={{ element }}&order_direction=desc" method="POST">
                                        <button class="desc__button" type="submit" name="desc"><img class="arrows_up_down" src="/static/graphics/down_arrow.jpg"></button>
                                    </form>
                                </th>
                            {% elif element != "question_id" %}

                                <th class="table__cell">
                                    {{ element }}

                                    <form action="/question/{{ question['id'] }}?order_by={{ element }}&order_direction=asc" method="POST">
                                        <button class="asc__button" type="submit" name="asc"><img class="arrows_up_down" src="/static/graphics/up_arrow.jpg"></button>
                                    </form>

                                    <form action="/question/{{ question['id'] }}?order_by={{ element }}&order_direction=desc" method="POST">
                                        <button class="desc__button" type="submit" name="desc"><img class="arrows_up_down" src="/static/graphics/down_arrow.jpg"></button>
                                    </form>

                                </th>

                            {% endif %}
                        {% endfor %}
                        <th class="table__cell">Edit an answer</th>
                        <th class="table__cell" colspan="2">Delete an answer</th>
                    </tr>

                    {% for answer in answers %}
                        <tr class="table__row">
                        {% for key in answer %}
                            {% if key == "image" and answer[key] %}
                                <td class="table__cell" align="center"><img src="/static/img/{{ answer[key] }}" alt="Answer Image" align="center" max-width="100%" width="300"/></td>
                            {% elif key != "question_id"  %}
                                <td class="table__cell" align="center" >{{ answer[key] }}</td>
                            {% endif %}
                        {% endfor %}

                        <td class="table__cell" align="center"><a href="/answer/{{ answer['id'] }}/edit">EDIT</a></td>
                        <td class="table__cell" align="center"><a href="/answer/{{ answer['id'] }}/delete">DELETE</a></td>

                        <td width="1%"><form action="/answer/{{ answer['id'] }}/vote_up" method="POST">
                            <button class="voteup__button" onclick="alert('Thank you! You have up-voted the answer!')" type="submit" name="vote_up">Vote up</button></form>
                            <form action="/answer/{{ answer['id'] }}/vote_down" method="POST">
                                <button class="votedown__button" onclick="alert('Thank you! You have down-voted the answer!')" type="submit" name="vote_down">Vote down</button></form></td>
                    {% endfor %}
                    </tr>

                </table>
            {% else %}
                <h2 class="header">There is no answer yet! </h2>
            {% endif %}
        {% endif %}
    <hr>

    <a href="/question/{{ question['id'] }}/new-comment"><h2 class="header">Add a comment!</h2></a></br>
    <a href="/question/{{ question['id'] }}/new-answer"><h2 class="header">Post a new answer!</h2></a></br>
    <a href="/question/{{ question['id'] }}/edit"><h2 class="header">Edit this question!</h2></a></br>
    <a href="/question/{{ question['id'] }}/new-tag"><h2 class="header">Add tag to this question!</h2></a></br>
    <a href="/list"><h2 class="header">Go to questions list page!</h2></a></br>
    <a href="/question/{{ question['id'] }}/delete"><h2 class="header">Delete this question</h2></a></br>

{% endblock %}