{% extends "base.html" %}
{% block title %} Edit your question {% endblock %}

{% block content %}
    <h1 class="header">Edit your question:</h1>
    <form action="#" method="POST" enctype="multipart/form-data"><br/>
        <label class="label" for="title">Title:</label><br/>
        <input class="title__input" type="text" id="title" name="title" size="100" value="{{ question['title'] }}"><br/>
        <label class="label" for="message">Message:</label><br/>
        <textarea class="textarea__input" id="message" name="message" rows="20" cols="100">{{ question['message'] }}</textarea><br/>
        <button class="btn btn-secondary" type="reset">Reset</button>
        <button class="btn btn-success" onclick="alert('Thank you! Your edits have been submited!')" type="submit">Save</button><br/>
    </form>
{% endblock %}
