{% extends "base.html" %}
{% block title %} Edit your comment {% endblock %}

{% block content %}
    <h2 class="header text-white">Edit your comment:</h2>
    <form action="#" method="POST" enctype="multipart/form-data"><br/>
        <textarea class="textarea__input" id="message" name="message" rows="20" cols="100">{{ comment['message'] }}</textarea><br/>
        <button class ="btn btn-secondary" type="reset">Reset</button>
        <button class ="btn btn-success" onclick="alert('Thank you! Your edits have been submited!')" type="submit">Save</button><br/>
    </form>
{% endblock %}
