{% extends "base.html" %}
{% block title %} Edit your answer {% endblock %}

{% block content %}
    <h1 class="header text-white">This is the answer to the question ID {{ question["id"] }}.</h1>

        <h4 class="header text-white">Question title:</h4>
        <h4 class="header text-white">{{ question["title"] }}</h4>
        <hr>
        <h4 class="header text-white">Question message:</h4>
        <h5 class="header text-white"><pre>{{ question["message"] }}</pre></h5>

    <h2 class="headertext-white">Edit your answer message:</h2>
    <form action="#" method="POST" enctype="multipart/form-data"><br/>
        <textarea class="textarea__input text-white" id="message" name="message" rows="20" cols="100">{{ answer['message'] }}</textarea><br/>
        <button class ="btn btn-secondary" type="reset">Reset</button>
        <button class ="btn btn-success" onclick="alert('Thank you! Your edits have been submited!')" type="submit">Save</button><br/>
    </form>
{% endblock %}
