{% extends "base.html" %}
{% block title %} Bestest Page on the universe {% endblock %}

{% block content %}

{#    <header class="masterhead">#}
{#    <div class="container">#}
{#        <div class="masthead-subheading">Hello! Welcome to the <b>most awesome</b> page in the universe!</div>#}
{#        <div class="masthead-heading text-uppercase">It Is Nice To Meet You</div>#}
{#        <a class="btn btn-primary btn-xl text-uppercase" href="/list">Questions List</a>#}
{#    </div>#}
{#    </header>#}


<h1 align="center">Hello! Welcome to the <b>most awesome</b> page in the universe!</h1><br/>
<div>
<h4 class="header">Would you like to go to the <a href="/list">questions list</a>?</h4>
</div>
{% endblock %}