{% extends "base.html" %}
{% block title %} List questions {% endblock %}

{% block content %}
<h1 class="header">Hello There!</h1>
<h3 align="center">Currently available list of questions</h3>
<hr>
<table border="1px" class="table__sortable">
    <tr class="table__header">
        {% for element in headers %}
        <th class="table__cell">
            {{ element }}
        </th>
        {% endfor %}
        <th></th>
    </tr>

        {% for element in question_list[::-1] %}
    <tr class="table__row">
            {% for key in element %}
                {% if key == "id" %}
                    <td class="table__cell"><a href="/question/{{ element[key] }}">{{ element[key] }}</a></td>
                {% else %}
                    <td class="table__cell">{{ element[key] }}</td>
                {% endif %}
            {% endfor %}
        <form action="/question/{{ element['id'] }}/vote_up" method="POST">
            <td><button class="voteup__button" onclick="alert('Thank you! You have up-voted the question!')" type="submit" name="vote_up">Vote up</button>
        </form>
        <form action="/question/{{ element['id'] }}/vote_down" method="POST">
            <button class="votedown__button" onclick="alert('Thank you! You have down-voted the question!')" type="submit" name="vote_down">Vote down</button></a></td>
        </form>
    </tr>
        {% endfor %}
</table>

<a href="/add_question"><h3 class="header">Add a question!</h3></a>

{% endblock %}