{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="row g-3">
      <div class="col-sm-3">
        <form action="#" method="POST" enctype="multipart/form-data">

        <label for="email" class="form-label text-white">Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email"
               id="email" aria-label="first_name" required>

        <label for="password" class="form-label text-white">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password"
               id="password" aria-label="first_name" required>

        <button class ="btn btn-secondary" type="reset">Reset</button>
        <button class ="btn btn-success" type="submit">Submit</button>
        </form>
      </div>

   </div>



{% endblock %}