{% extends "base.html" %}
{% block title %} Post new tag {% endblock %}

{% block content %}
    <h1 class="header">Post the tag:</h1>
    <form action="#" method="POST" enctype="multipart/form-data"><br/>
        <label class="label" for="message">tag:</label><br/>
        <textarea class="textarea__input" id="message" name="message" rows="20" cols="100"></textarea><br/>
        <button class="btn btn-secondary" type="reset">Reset</button>
        <button class="btn btn-success" onclick="alert('Thank you! Your tag has been submited!')" type="submit">Save</button><br/>
    </form>
{% endblock %}
