{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}


    <div class="grid-container">

        <div class="grid-child d-flex justify-content-center">
            <h1 class="text-white">Happy Register</h1>
            <br>
            {#        <h5 class="text-white">Connect with other music enthusiasts around the world!</h5>#}
        </div>

        <div class="grid-child d-flex justify-content-center ">

            <form action="#" method="POST" enctype="multipart/form-data">
                <br>
                <br>
                <br>
                <br>
                <input type="text" class="form-control" placeholder="First Name" name="first_name"
                       id="first_name" aria-label="first_name" required><br>

                <input type="text" class="form-control" placeholder="Last Name" name="last_name"
                       id="last_name" aria-label="first_name" required><br>

                <input type="email" class="form-control" placeholder="Email" name="email"
                       id="email" aria-label="first_name" required><br>

                <input type="password" class="form-control" placeholder="Password" name="password"
                       id="password" aria-label="first_name" required><br>

                <button class ="btn btn-secondary" type="reset">Reset</button>
                <button class ="btn btn-success" onclick="alert('Thank you! Your data has been submited!')" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
