{% extends "base.html" %}
{% block title %} User Profile {% endblock %}

{% block content %}
<div class="mx-auto mt-3" style="width: 80%">
    <p class="text-white">User ID: <b>{{ user['id'] }}</b></p>
    <p class="text-white">First name: <b>{{ user['first_name'] }}</b></p>
    <p class="text-white">Last name: <b>{{ user['last_name'] }}</b></p>
    <p class="text-white">Username: <b>{{ user['email'] }}</b></p>
    <p class="text-white">Registration date: <b>{{ user['registration_date'] }}</b></p>
    <p class="text-white">Asked questions: <b>{{ user['questions'] }}</b></p>
    <p class="text-white">Answers given: <b>{{ user['answers'] }}</b></p>
    <p class="text-white">Comments given: <b>{{ user['comments'] }}</b></p>
    <p class="text-white">Reputation: <b>{{ user['reputation'] }}</b></p>
</div>

<div class="mx-auto" style="width: 80%">
<h1 class="text-white">Questions asked</h1>
<ul class="list-group">
    {% for question in questions_asked %}
        <li class="list-group-item">{{ question['title'] }}</li>
    {% endfor %}
</ul>
</div>

<div class="mx-auto" style="width: 80%">
<h1 class="text-white">Answers given</h1>
<ul class="list-group">
    {% for answer in answers_given %}
        <li class="list-group-item">{{ answer['message'] }}</li>
    {% endfor %}
</ul>
</div>

<div class="mx-auto" style="width: 80%">
<h1 class="text-white">Comments given</h1>
<ul class="list-group">
    {% for comment in comments_given %}
        <li class="list-group-item">{{ comment['message'] }}</li>
    {% endfor %}
</ul>
</div>



{% endblock %}
