{% extends "base.html" %}
{% block title %} Edit your question {% endblock %}

{% block content %}
<div class="mx-auto" style="width: 80%">
<table class="table table-dark table-striped table-hover table-sm table-bordered border-light">

    <tr class="text-center align-middle" >
        {% for element in headers %}
            <th class="text-center align-middle">
                {{ element }}

                <form action="/list?order_by={{ element }}&order_direction=asc" method="POST">
                <button class="asc__button" type="submit" name="asc"><img class="arrows_up_down" alt="Arrow up image" src="/static/graphics/up_arrow.jpg"></button>
                </form>

                <form action="/list?order_by={{ element }}&order_direction=desc" method="POST">
                <button class="desc__button" type="submit" name="desc"><img class="arrows_up_down" alt="Arrow down image" src="/static/graphics/down_arrow.jpg"></button>
                </form>
            </th>
        {% endfor %}
    </tr>

    {% for element in users_data %}
        <tr class="text-center">
            {% for key in element %}
                <td class="text-center align-middle">{{ element[key] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
