{% extends "base.html" %}
{% block title %} Users List {% endblock %}

{% block content %}
<div class="mx-auto" style="width: 80%">
<table class="table table-dark table-striped table-hover table-sm table-bordered border-light">

    <tr class="text-center align-middle" >
        {% for element in headers %}
            <th class="text-center align-middle">
                {{ element }}
            </th>
        {% endfor %}
        <th>User Profile</th>
    </tr>

    {% for element in users_data %}
        <tr class="text-center">
            {% for key in element %}
                <td class="text-center align-middle">{{ element[key] }}</td>
            {% endfor %}
            <td><a href="/user/{{ element['id'] }}">CLICK</a></td>
        </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
